.DS*
*.pyc
grc/*.py

gr-scan/gr-scan

cpp/bin/*
!cpp/bin/.gitkeep

cpp/out/*
!cpp/out/.gitkeep

python/out/*
!python/out/.gitkeep

outras/bin/*
!outras/bin/.gitkeep

outras/tmp/*
!outras/tmp/.gitkeep

outras/.env
